<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Time to Focus on You and Your Goals</h1>
    <h3>"If you don’t know where you are going, you will probably end up somewhere else." – Lawrence J. Peter</h3>
    <a href="/login"> Login </a>
    <a href="/signup"> Signup </a>


    <img src="/images/mountain.jpg" alt="Mountain view"> 
</body>
</html>